.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgba(0,0,0);
}
.Game{
  min-height: 100vh;
}
.GamePanel{
  height: 100%;
  background-color:#1f1f25;
  margin: auto;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
  width:90%
}
.Panel{
  margin: auto;
  width: 80%;
  background-color:#1f1f25;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.GamePanelArea{
  background-color: rgb(0, 0, 0);
}
.GameBoardArea{
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 0;
}
.Board{
  margin: auto;
  z-index: 1;
}
.Tile{
  position: relative;
  width:19vh;
  height: 19vh;
  margin: 3px;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #1f1f25;
  cursor: pointer;
  z-index: 0;
}
.TileContent{
  font-size: 7vw;
  margin: auto;
  font-weight: 900;
  font-family: 'Varela Round', sans-serif;
}
.panelElement{
  margin: auto;
  padding: 5px;
}
.panelText{
  color: white;
  font-size: 20px;
}
.Home{
  background-image: linear-gradient(to left,black);
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 576px) { 
  .Tile{
      width:25vw;
      height: 25vw;
  }
  .TileContent{
  font-size: 16vw;
  }
}
@media screen and (max-width: 768px) and (min-width:577px){ 
  .Tile{
      width:25vw;
      height: 25vw;
  }
  .TileContent{
  font-size: 14vw;
  }
}

@media screen and (max-width: 992px) and (min-width:769px) { 
  .Tile{
    width:20vw;
    height: 20vw;
  }
  .TileContent{
  font-size: 13vw;
  }
 }
@media screen and (max-width: 1200px) and (min-width:992px) { 
  .Tile{
    width:17vw;
    height: 17vw;
  }
  .TileContent{
  font-size: 11vw;
  }
}
