.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
}
.Game{
  min-height: 100vh;
}
.GamePanel{
  /* min-height: 100%; */
  height: 100%;
  background-color: bisque;
  padding: 12%;
  margin: 0 5%;
  /* margin-bottom: 10%; */
}
.GameArea{
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.Board{
  margin: auto;
}

.Tile{
  position: relative;
  width: 19vh;
  height: 19vh;
  margin: 1px;
  /* outline-style: solid;
  outline-width: 2px; */
  /* outline-color: black; */
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color:black;
  cursor: pointer;
}
.TileContent{
  font-size: 10vh;
  margin: auto;
  color: white;
}